<!-- <p (click)="fetchApitest(news.id)">reader works!</p> -->
<!-- <p>reader works!</p> -->

<div class="container">
  <div
    class="reader-div one-reader d-flex flex-row-reverse flex-wrap text-center">
    <p>
      {{ ObjReader.title }}
    </p>
  </div>
  <div
    class="component-reader d-flex flex-row-reverse flex-wrap text-center w-100">
    <div class="reader-div" *ngFor="let reciters of ServerApi; let i = index">
      <p>
        {{ reciters.description }}
      </p>
      <audio controls>
        <!-- <source [src]="reciters.url" type="audio/ogg"> -->
        <source [src]="reciters.url" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
