
<nav class="navbar ">
  <div class="container">
    <div class="toolbar" role="banner">
      <ul class="list-muen">
        <li>
          <a>المختارات</a>
        </li>
        <li>
          <a>قائمة القراء</a>
        </li>
        <li>
          <a>الرئيسية</a>
        </li>
      </ul>
      <div>
        <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="" title="Twitter" class="logo">
          <img src="../assets/FevIcon.png">
          <span>Quran</span>
        </a>
       </div>
    </div>
  </div>
</nav>
